flows.json
[
    {
        "id": "4853583955c55bed",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40d9e900a66b2839",
        "type": "ui_gauge",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 4,
        "width": 7,
        "height": 3,
        "gtype": "compass",
        "title": "Estado actual ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "bc87c516f5216e9d",
        "type": "ui_chart",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 7,
        "width": 7,
        "height": 3,
        "label": "Registro de la temperatura ambiental ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "07994df9e2bdc2b1",
        "type": "ui_gauge",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 5,
        "width": 7,
        "height": 3,
        "gtype": "compass",
        "title": "Estado actual ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "f55256923d225098",
        "type": "ui_chart",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 8,
        "width": 7,
        "height": 3,
        "label": "Registro de la humedad ambiental ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ea62a4ab2cbaabee",
        "type": "ui_gauge",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 6,
        "width": 7,
        "height": 3,
        "gtype": "compass",
        "title": "Estado actual ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "dc9c2814e2ed6479",
        "type": "ui_chart",
        "z": "4853583955c55bed",
        "name": "",
        "group": "24ca9fdeac59689e",
        "order": 9,
        "width": 7,
        "height": 3,
        "label": "Registro de la humedad del suelo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "92354f334c856f6b",
        "type": "ui_switch",
        "z": "4853583955c55bed",
        "name": "",
        "label": "Bomba 1",
        "tooltip": "",
        "group": "972c5759fe3f8376",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 880,
        "wires": [
            [
                "6cd5083cca71060c",
                "729c9fca842b91d5"
            ]
        ]
    },
    {
        "id": "6cd5083cca71060c",
        "type": "mqtt out",
        "z": "4853583955c55bed",
        "name": "",
        "topic": "control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1c90caf59c465cc",
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "f18f203b06cad0a9",
        "type": "ui_switch",
        "z": "4853583955c55bed",
        "name": "",
        "label": "Motor 2",
        "tooltip": "",
        "group": "972c5759fe3f8376",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "3e8ec51023d07293"
            ]
        ]
    },
    {
        "id": "3e8ec51023d07293",
        "type": "mqtt out",
        "z": "4853583955c55bed",
        "name": "",
        "topic": "control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1c90caf59c465cc",
        "x": 370,
        "y": 1000,
        "wires": []
    },
    {
        "id": "51315c6fcff038ec",
        "type": "mqtt in",
        "z": "4853583955c55bed",
        "name": "",
        "topic": "Tempdata",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f1c90caf59c465cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "590fbe0fb1ae5dad",
                "c4be17f1943d20ca",
                "7e6c7d53c710aca3"
            ]
        ]
    },
    {
        "id": "590fbe0fb1ae5dad",
        "type": "function",
        "z": "4853583955c55bed",
        "name": "Extraer temperatura",
        "func": "var input = msg.payload; // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[0]; // Set the output payload to the array of float values\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "40d9e900a66b2839",
                "bc87c516f5216e9d",
                "dc838c0b52176c94"
            ]
        ]
    },
    {
        "id": "c4be17f1943d20ca",
        "type": "function",
        "z": "4853583955c55bed",
        "name": "Extraer humedad ambiental",
        "func": "var input = msg.payload; // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[1]; // Set the output payload to the array of float values\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "07994df9e2bdc2b1",
                "f55256923d225098",
                "4115d9781ff49991"
            ]
        ]
    },
    {
        "id": "aa53eb6b0a1d7eda",
        "type": "debug",
        "z": "4853583955c55bed",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "5bb00d1a35540d34",
        "type": "serial in",
        "z": "4853583955c55bed",
        "name": "",
        "serial": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "aa53eb6b0a1d7eda"
            ]
        ]
    },
    {
        "id": "7e6c7d53c710aca3",
        "type": "function",
        "z": "4853583955c55bed",
        "name": "Extraer humedad de suelo",
        "func": "var input = msg.payload; // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[1]; // Set the output payload to the array of float values\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "ea62a4ab2cbaabee",
                "dc9c2814e2ed6479",
                "4f2ce283f0c88f9c"
            ]
        ]
    },
    {
        "id": "d3409481f672cf47",
        "type": "inject",
        "z": "4853583955c55bed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "42a42304dad5f3b2"
            ]
        ]
    },
    {
        "id": "42a42304dad5f3b2",
        "type": "function",
        "z": "4853583955c55bed",
        "name": "function 1",
        "func": "let min = 0;\nlet max = 8;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 740,
        "wires": [
            [
                "841857a3adf96bb8"
            ]
        ]
    },
    {
        "id": "841857a3adf96bb8",
        "type": "ui_gauge",
        "z": "4853583955c55bed",
        "name": "",
        "group": "0ecdde8302013805",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "Estado actual",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 740,
        "wires": [],
        "icon": "node-red/db.svg"
    },
    {
        "id": "729c9fca842b91d5",
        "type": "function",
        "z": "4853583955c55bed",
        "name": "function 2",
        "func": "if (msg.payload === 'on') {\n    msg.payload = \"Bomba encendida.\";\n} else if (msg.payload === 'off') {\n    msg.payload = \"Bomba apagada.\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "58449786be95a4cd"
            ]
        ]
    },
    {
        "id": "58449786be95a4cd",
        "type": "ui_text",
        "z": "4853583955c55bed",
        "group": "972c5759fe3f8376",
        "order": 2,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Estado de la bomba",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "dc838c0b52176c94",
        "type": "ui_template",
        "z": "4853583955c55bed",
        "group": "24ca9fdeac59689e",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 1,
        "format": "<div style=\"display: flex; align-items: center; justify-content: center;\">\n    <h1 style=\"color: blue; font-family: Arial, sans-serif;\">Temperatura Ambiental</h1>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4115d9781ff49991",
        "type": "ui_template",
        "z": "4853583955c55bed",
        "group": "24ca9fdeac59689e",
        "name": "",
        "order": 2,
        "width": 7,
        "height": 1,
        "format": "<div style=\"text-align: center;\">\n    <h2 style=\"color: blue; font-family: Arial, sans-serif;\">Humedad Ambiental</h2>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4f2ce283f0c88f9c",
        "type": "ui_template",
        "z": "4853583955c55bed",
        "group": "24ca9fdeac59689e",
        "name": "",
        "order": 3,
        "width": 7,
        "height": 1,
        "format": "<div style=\"text-align: center;\">\n    <h2 style=\"color: blue; font-family: Arial, sans-serif;\">Humedad de suelo</h2>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0afe35a168e695d7",
        "type": "ui_spacer",
        "z": "4853583955c55bed",
        "name": "spacer",
        "group": "0ecdde8302013805",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "02084075e9b2dfbc",
        "type": "ui_spacer",
        "z": "4853583955c55bed",
        "name": "spacer",
        "group": "0ecdde8302013805",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "cfe8cab82038ab79",
        "type": "ui_spacer",
        "z": "4853583955c55bed",
        "name": "spacer",
        "group": "0ecdde8302013805",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "1face2ca77fb89e3",
        "type": "ui_spacer",
        "z": "4853583955c55bed",
        "name": "spacer",
        "group": "0ecdde8302013805",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "a30c9ba112a98a39",
        "type": "ui_spacer",
        "z": "4853583955c55bed",
        "name": "spacer",
        "group": "972c5759fe3f8376",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "24ca9fdeac59689e",
        "type": "ui_group",
        "name": "Condiciones ambientales y estado del suelo",
        "tab": "dce2d447e39ebc37",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "972c5759fe3f8376",
        "type": "ui_group",
        "name": "Control del riego",
        "tab": "dce2d447e39ebc37",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1c90caf59c465cc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0ecdde8302013805",
        "type": "ui_group",
        "name": "Nivel de agual en el tanque",
        "tab": "dce2d447e39ebc37",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dce2d447e39ebc37",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    }
]